body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 2px;
}
* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(img/backgrd.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.header-text {
  display: block;
  margin-top: 200px;
  margin-left: 50px;
}
nav {
  opacity: 0.8;
}

section {
  padding: 40px 0;
}
#about {
  background-color: #f7f3e017;
}

#about .container {
  margin-top: 100px;
}
#about .container .row {
  padding: 20px 5px;
}
#about .container .row h4 {
  padding: 20px 5px;
}

#team img {
  -webkit-animation:;
  animation: jello-horizontal 0.9s both;
}

#profile {
  position: relative;
  margin-block-start: 20px;
  background-color: #f7f3e017;
  height: 90vh;
  background-size: cover;
}

#profile img {
  position: absolute;
  right: 0;
  top: 30px;
}
#profile a {
  text-decoration: none;
  color: #000;
}
#profile img {
  -webkit-animation: flicker-1 2s linear infinite both;
  animation: flicker-1 2s linear infinite both;
}
section.container {
  padding: 5px;
}

footer {
  display: block;
  background-color: #f7f3e017;
  padding: 20px;
  text-justify: auto;
}
footer p {
  margin-inline-start: 30px;
}
.form-control {
  background-color: #efead1;
}
#contact {
  background-image: url(img/back-img.jpeg);
  width: 100%;
  background-size: cover;
}

.header-button:hover {
  background-color: whitesmoke;
}
.header-button {
  background: linear-gradient(90deg, #5e68ff 0%, #a03bff 100%);
  color: white;
  border-radius: 20px;
  border: 1px #a03bff;
  font-size: smaller;
  padding: 10px;
  /*-webkit-animation: vibrate-1 0.3s linear infinite   both;
  animation: vibrate-1 0.3s linear infinite   both;
   */:;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#button-addon2 {
  background: linear-gradient(90deg, #5e68ff 0%, #a03bff 100%);
  color: #fff;
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}
@keyframes flicker-1 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  47.99% {
    opacity: 1;
  }
  48% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  49.01% {
    opacity: 1;
  }
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


@media only screen and (max-width: 768px) {


}
@media only screen and (max-width: 999px) {
  .col {
    width: auto;
  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #team img{
    display: block;
    margin: auto;
  }
  #profile img{
    position: relative;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    
  }
 #profile{
   display: block;
   height: auto;
 }
  #contact{
    /* margin-block-start: 2rem */
  }
  form{
    margin-bottom: 3rem;
  }
  footer{
    background-color: rgba(240, 248, 255, 0.692);
    margin: auto;
  }
}

